@import "tailwindcss";
#loader h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-style: italic;
  line-height: 0.9;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(0deg, #3a3a3a, #3a3a3a 50%, #fff 0);
  background-size: 100% 200%;
  background-position: 0 100%;
  color: #3a3a3a;
}

@layer utilities {
  body {
    @apply w-screen min-h-dvh overflow-hidden;
  }
  img {
    @apply w-full h-full;
  }
  .banner-img {
    @apply w-[20%] aspect-[4/5] absolute top-[45%] left-1/2 -translate-1/2 scale-0;
  }
}
